# Logs
*.log

# Dependency directories
node_modules/

# Vite cache
.vite

# Build output
dist/

# TypeScript cache
*.tsbuildinfo

# dotenv environment variables file
.env
.env.local

# Local IDE config files
.idea/
.vscode/

.DS_Store